<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{/img/logos/ES.png}">
		<title th:text="${title}"> </title>
	</head>
<body>
		<div th:replace="fragments :: header" th:with="bdTitles=${bdTitles}"></div>
		
		<section>
		
		<div id = "bd">
			<a id="left" class="left" th:href="'/comicsP?page=' + ${currentPage-1} + '#bd'">&#10094;</a>
			<figure>
				<img th:src="@{'/getFileP' +'?name=' + ${drawings[currentPage]}}" th:alt="${title}" />
				<figcaption th:text="'Page ' + ${currentPage+1}"> </figcaption>
			</figure>
			<a id="right" class="right" th:if="${currentPage==0}" th:href="'/comicsP?page=' + ${currentPage+1} + '#bd'">&#10095;</a>
			<a id="right" class="right" th:if="${currentPage==1}" th:href="'/comics/0?page=' + ${currentPage+2} + '#bd'">&#10095;</a>
		</div>

		</section>

		<th:block th:insert="~{fragments :: footer}"></th:block> 

</body>
</html>