<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{/img/logos/ES.png}">
		<title th:text="${drawing.type}"> </title>
	</head>
	
<body>		
		<div id="displayImage" th:if="${drawing.privateDrawing} eq false">
				
			<a href="javascript:history.back()"  th:switch="${drawing.type}">		
				<img th:case="'Dessin-du-Mois'" th:src="@{'/getFileP' +'?name=' + ${drawing.name}}"/>
				<img th:case="*" th:src="@{'/getFile' +'?name=' + ${drawing.name}}"/>
			</a>
				
			<a id="exit" href="javascript:history.back()">		
					❌
			</a>							
	
		</div>
				
</body>
</html>