<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Email </title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<style> 
			#text {
				white-space: pre-wrap;	
			}	
		</style>
		
	</head>
	<body>

		<p th:text="${'Bonjour ' + nameUser + ','}"> </p>
		<p th:text="${text}"> </p>
		<p th:if="${link != 'null'}" th:text="${link}"> </p>
		<p id=text th:if="${text2 != 'null'}" th:text="${text2}"> </p>

		<p>
		<img src="https://ericsureau.fr/img/logos/ES.png"/>
		</p>

	</body>
	
</html>