<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Modification</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{/img/logos/ES.png}">
	</head>
<body>

	<header>				
		<div id="logo">
			<h1> LES PETITS DESSINS d'ERIC SUREAU </h1>
			<img th:src="@{/img/logos/ES.png}" alt="Logo"/> 
		</div>
		<nav class="topnav" id="myTopnav">
			<a href="/" class="active">Retour au site</a>       
		</nav>  
				  
	</header>    
	
	<section id="forms">
	<div class="container special">

		<h2 class="h2">Suppression d'un dessin</h2>
		
		<div>	
			
			<form id="confirm" method="post" th:action="@{/deleteFile?nameFile=} + ${drawing.name}">
				<h4 th:text="${drawing.name}"> </h4>
				<p> Toute suppression est définitive. </p>
				<button type="submit" class="btn btn-primary">Confirmer la suppression</button>
			</form>
			
			<form id="return" method="get" action="javascript:history.back()">
				<button type="submit">Retour</button>
			</form>
		       	
		</div>

	</div>
	</section>
		
</body>
</html>