<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="UTF-8">
			<title>Menu</title>
			<link th:href="@{/css/style.css}" rel="stylesheet" />
		</head>

	<body>		
		<header th:fragment="header">				
				<div id="logo">
			    	<h1> LES PETITS DESSINS d'ERIC SUREAU </h1>
  					<img th:src="@{/img/logos/ES.png}" alt="Logo"/> 
  				</div>
				<nav class="topnav" id="myTopnav">
		          	<a href="/" class="active">Accueil</a>
		          	<div class="dropdown">
		            	<button class="dropbtn">Illustrations </button>
			            <div class="dropdown-content">
			              	<a href = "/drawings?type=0"> Actualités </a> 
			              	<a href = "/drawings?type=1"> Environnement </a>
			              	<a href = "/drawings?type=2"> Sport </a>
			              	<a href = "/drawings?type=3"> Dessins personnels </a>
			            </div>
		          	</div>
		          	<div class="dropdown">
				      <button class="dropbtn">Bandes Dessinées </button>
		            	<div class="dropdown-content">
		              		<a th:each="title : ${bdTitles}" th:href="'/bd?n=' + ${titleStat.index}" th:text="${bdTitles[titleStat.index]}"></a> 
		            	</div>
		          	</div>
					<a href = "/drawings?type=4"> Caricatures </a>
					<a href ="/author"> L'Auteur </a>
					<a href="/contact">Contact</a>
					<a href="/admin" th:if="${userRole eq 'ROLE_ADMIN'}">Admin</a>
				</nav>  
				  
		</header>

		<footer th:fragment="footer">	
				<div id = "copyright">
			    	<a href = "/legal"> Copyright Eric Sureau <br/>
			    	Tous droits réservés </a>
			    	<img th:src="@{/img/logos/copyright.png}" alt="Copyright"/>
			    </div>
			    <div>
				    <a href="/contact">Contact</a>
				    <a href="/login">Connexion</a>	
				    <a href="/legal">Mentions légales</a>
			    </div>
		</footer>
		
	</body>
</html>