<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		
	<head>
		<meta charset="UTF-8">
		<title>Les petits dessins d'Eric Sureau</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{/img/logos/ES.png}">
	</head>

	<body>
			<div th:replace="fragments :: header" th:with="bdTitles=${bdTitles} and userRole=${userRole}"></div>  
	
			<section id = "index">

				<div id = "intro">
					<article>
						<p>
						 	Le monde a changé. Le numérique s'est invité partout dans nos vies. 
						 	Par bonheur, il en existe quelques bons côtés, que je souhaite utiliser à travers ce site, en me permettant de vous partager 
						 	facilement mes illustrations, qu'elles soient issues de mes indignations, mes passions ou des causes que je soutiens. 
						</p>
						<p>
							Je souhaite aussi diffuser par ce biais mes nouvelles bandes dessinées, dans le mode 
							"à suivre" cher à ma mémoire et aux magazines de ma jeunesse, quand la satisfaction immédiate de nos envies n'était pas la seule loi, 
							que l'attente faisait partie du plaisir et que nous nous précipitions chaque semaine au kiosque dès la parution du nouveau numéro 
							pour connaître la suite des aventures de nos héros favoris, généralement en fâcheuse posture.
						</p>
						<p>
							Ils sont à partager avec amis ou sympathisants, bienveillants avec ce travail dans le respect des droits d'auteur.
						 </p>
						 <p>
						 	Les dessins humoristiques se trouvent dans la rubrique illustrations et sont en rapport avec l'<a href = "/drawings?type=0">actualité</a>, 
						 	le <a href = "/drawings?type=2">sport</a>, l'<a href = "/drawings?type=1">environnement</a> ou simplement des dessins <a href = "/drawings?type=3">personnels</a>.
						 </p>
						 <p>
						 	Les bandes dessinées en cours de diffusion sont : 
						</p>
							 	<ul>
				    				<li th:each="title : ${bdTitles}"> 
				    					<a th:href="'/comics/' + ${titleStat.index} + '?page=0' + '#bd'" th:text="${bdTitles[titleStat.index]}"></a> 
				    				</li>
						    	</ul>
						 <p>
						 	Enfin, des caricatures peuvent être consultées dans la catégorie <a href = "/drawings?type=4"> caricatures</a>.
						</p>
						<p>
							Vous pouvez accéder gratuitement à l'ensemble de ces dessins en vous <a href = "/createUser" > inscrivant</a> sur le site !
						</p>
						<p>
							Alors bienvenue et bonne lecture à vous.
						</p>
						
					</article>

					<aside th:if="${drawingMonth ne null}">
						
						<figure>
							<figcaption> Dessin du mois </figcaption>
							<a th:href="@{'/displayImage' +'?name=' + ${drawingMonth.name}}">  
							<img id="drawingMonth" th:src="@{'/getFileP?name=' + ${drawingMonth.name}}" th:alt="${drawingMonth.name}" title="Cliquez pour agrandir" /></a>
						</figure>
						<form method="post" th:action="@{'/addDrawingLike?nameFile=' + ${drawingMonth.name}}">
							<button id="like" type="submit" th:text="${#lists.size(drawingMonth.usersLike)} + ' 👍'"> </button>
						</form>
						
					</aside>
				
				</div>

				<div id="news">

					<figure th:if="${comicsMonth ne null}">
						<figcaption th:text="'BD en cours : ' + ${comicsMonth.title}"> </figcaption>
						<a th:href="@{/comicsP?page=0#bd}">  
						<img id="comicsMonth" th:src="@{'/getFileP?name=' + ${comicsMonth.name}}" th:alt="${comicsMonth.name}" title="Cliquez pour agrandir" /></a>
					</figure>
					
					<div id="art">
						<h2>Actualités du site</h2>
						<article th:each="date: ${siteNewsDate}"> 
						<h4 th:text="${dateInLetters[dateStat.index]}"> </h4>
						
							<div th:each="currentNews : ${siteNews}" th:if="${currentNews.date} eq ${date}"> 
							
								<strong th:text="${currentNews.newsTitle}"> </strong>
								<p th:text="${currentNews.texte}">	</p>
							
							</div>
								
						</article>
					</div>					
				</div>

			</section>
			
			<th:block th:insert="~{fragments :: footer}"></th:block>
	 
	</body>
</html>