<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{/img/logos/ES.png}">
	</head>
		
<body>

	<header>				
		<div id="logo">
			<h1> LES PETITS DESSINS d'ERIC SUREAU </h1>
			<img th:src="@{/img/logos/ES.png}" alt="Logo"/> 
		</div>
		<nav class="topnav" id="myTopnav">
			<a href="/" class="active">Retour au site</a>       
		</nav>  
				  
	</header>
	
	<section id="forms">

		<h2>Connexion</h2>
	    
	    <div th:if="${currentUser !='anonymousUser'}">
	    
	    	<p style="color: #F3FF84">
				Connecté avec le compte <strong th:text="${currentUser}"></strong>
			</p>
		
	    	<form method="get" action="/account">
				<button type="submit" class="btn btn-primary"> Accéder à mon compte </button>
			</form>
		
	    	<form th:action="@{/logout}" method="POST" >					
	        	<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Déconnexion"></button>	        	
	    	</form>
	    	
		</div>
		
		<div th:if="${currentUser=='anonymousUser'}">
		
			<p th:if="${currentUser=='anonymousUser'}"> 
			Connectez-vous pour accéder aux autres contenus du site.
			</p>
		
			<form th:action="@{/login}" method="POST" class="form-signin">
		  		
				<div class="form-group">
					<label for="username">Adresse Email</label>
	                <input type="text" id="username" name="username" placeholder="Email" class="form-control"/>
                </div>
				<div class="form-group">       
	                <label for="password">Mot de passe</label>
	                <input type="password" id="password" name="password" th:placeholder="Password" class="form-control"/>
                </div>
                
	        	<div th:if="${param.error}" class="alert alert-error" style="color: rgb(128, 0, 0);"> Adresse Email ou mot de passe invalide. </div>
					
	        	<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Connexion"></button>
	        	
	    	</form>
		
			<p>
			Si vous n'avez pas encore de compte, inscrivez-vous gratuitement pour accéder aux autres contenus du site.
			</p>

			<form id="return" method="get" th:action="@{/createUser}">
				<button type="submit" class="btn btn-primary">Créer un compte</button>
			</form>
			
			<p>
			Mot de passe oublié ?
			</p>

			<form id="return" method="get" th:action="@{/resetPassword}">
				<button type="submit" class="btn btn-primary">Réinitialiser mon mot de passe</button>
			</form>
			
		</div>
			
	</section>
		
</body>
</html>