<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<title th:text="${drawingType}"> </title>
		<link rel="icon" th:href="@{/img/logos/ES.png}">
	</head>
	
<body>
		<div th:replace="fragments :: header" th:with="bdTitles=${bdTitles}"></div>  
		
		<section id="displayImage">
			
			<h4 th:text="${drawingTitle}"></h4>
			
			<div th:switch="${drawingType}">
							
				<img th:case="'Actualité'" th:src="@{'/imagesP' +'?name=' + ${drawingName}}" />
				<img th:case="'Dessin-du-Mois'" th:src="@{'/imagesP' +'?name=' + ${drawingName}}" />
				<img th:case="*" th:src="@{'/images' +'?name=' + ${drawingName}}" />
							
			</div>
	
		</section>
		
		<th:block th:insert="~{fragments :: footer}"></th:block> 
		
</body>
</html>