<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{/img/logos/ES.png}">
	</head>
		
<body>

	<header>				
		<div id="logo">
			<h1> LES PETITS DESSINS d'ERIC SUREAU </h1>
			<img th:src="@{/img/logos/ES.png}" alt="Logo"/> 
		</div>
		<nav class="topnav" id="myTopnav">
			<a href="/" class="active">Retour au site</a>       
		</nav>  
				  
	</header>  
	
	<section id="forms">
	<div class="container special">

		<h2 class="h2">Enregistrer un compte</h2>
		<div>
			<form method="post"
				th:action="@{/saveUser}" th:object="${user}">
		       	
				<div class="form-group">
					<label for="name">Prénom</label> 
					<input
						type="text" th:field="*{name}" class="form-control" id="nameInput"
						aria-describedby="nameHelp" placeholder="Saisir le prénom" required> 
				</div>

				<div class="form-group">
					<label for="lastName">Nom</label> 
					<input
						type="text" th:field="*{lastName}" class="form-control" id="nameInput"
						aria-describedby="nameHelp" placeholder="Saisir le nom" required> 
				</div>

				<div class="form-group">
					<label for="mailInput">Email</label> 
					<input
						type="email" th:field="*{email}" class="form-control" id="mailInput"
						aria-describedby="mailHelp" placeholder="Saisir l'adresse email" required> 
				</div>
					
				<button type="submit" class="btn btn-primary">Créer</button>
			</form>
			
			<p th:if="${userSaved} == false" class="alert alert-error" style="font-size: 20; color: rgb(128, 0, 0);"> 
			Erreur : cet Email existe déjà. 
			</p>
			
			<p th:if="${userSaved} == true" class="alert alert-error" style="font-size: 20; color: #F3FF84;"> 
			Demande de création de compte enregistrée.
			</p>
			
			<p> Un email vous sera envoyé pour enregistrer votre mot de passe dès que votre compte aura été activé (sous 24h maximum). 
			</p>
			
		</div>
	</div>
	</section>

</body>
</html>