<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{/img/logos/ES.png}">
	</head>
		
<body>

	<header>				
		<div id="logo">
			<h1> LES PETITS DESSINS d'ERIC SUREAU </h1>
			<img th:src="@{/img/logos/ES.png}" alt="Logo"/> 
		</div>
		<nav class="topnav" id="myTopnav">
			<a href="/" class="active">Retour au site</a>       
		</nav>  
				  
	</header>
	
	<section id="forms">
	<div class="container special">

		<h2>Connexion</h2>
		
		<p th:if="${currentUser !='anonymousUser'}" style="color: #19D31A">
		Connecté avec le compte <strong th:text="${currentUser}"></strong>
		</p>
		
		<p th:if="${currentUser=='anonymousUser'}"> 
		Si vous souhaitez accéder aux autres contenus du site vous devez vous connecter.
		</p>

		<div>
			<form th:action="@{/login}" method="POST" class="form-signin">
		  		
				<div class="form-group">
					<label for="username">Adresse Email</label>
	                <input type="text" id="username" name="username" placeholder="Email" class="form-control"/>
                </div>
				<div class="form-group">       
	                <label for="password">Mot de passe</label>
	                <input type="password" id="password" name="password" th:placeholder="Password" class="form-control"/>
                </div>
                
	        	<div th:if="${param.error}" class="alert alert-error" style="color: rgb(128, 0, 0);"> Adresse Email ou mot de passe invalide. </div>
					
	        	<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Connexion"></button>
	        	
	    	</form>
	    	
		</div>
		
		<div th:if="${currentUser=='anonymousUser'}">
		
			<p>
			Si vous n'avez pas encore de compte, vous pouvez faire une demande de création de compte : 
			</p>

			<form id="return" method="get" th:action="@{/createUser}">
				<button type="submit" class="btn btn-primary">Créer un compte</button>
			</form>
		
		</div>
		
	</div>
	
	</section>

</body>
</html>